.container {
  width: min(65em, 100%);
  margin: 0 auto;
  padding: 1rem 1.5rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.backBtn {
  --btn-color: var(--dominant-color, black);
  display: inline-block;
  border: none;
  border-radius: 0.25em;
  padding: 1em 2.5em;
  background-color: var(--btn-color);
  text-transform: uppercase;
  color: #fff;
  cursor: pointer;
  text-decoration: none;
  font-family: inherit;
  font-size: inherit;

  transition: background-color 0.4s;
}
