.container {
  width: min(65em, 100%);
  margin: 0 auto;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.link {
  color: var(--off-white-color);
  text-decoration: none;
  font-size: 1.4rem;
  transition: 0.3s ease-in-out;
}

.link:hover {
  color: var(--accent-color);
}

.logout {
  background: none;
  border: none;

  color: var(--off-white-color);
  text-decoration: none;
  font-size: 1.4rem;
  transition: 0.3s ease-in-out;
}

.logout:hover {
  color: var(--accent-color);
  cursor: pointer;
}
